logout-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e90000;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  logout-btn:hover {
    background-color: #1f9eff;
  }